<div class="container mt-1">
  <div class="d-flex justify-content-between align-items-baseline">
    <h1>Items list</h1>
    <span>
      Show only available: <input type="checkbox" [(ngModel)]="filterActve">
    </span>
  </div>
  <div class="row">
    <div class="col-6" *ngFor="let item of items | filterAvailable: filterActve">
      <div class="list-group-item d-flex justify-content-between" [class.disabled]="!item.available">
        <span>{{ item.name }}</span>
        <span>{{ item.price | currency : item.currency }}</span>
      </div>
    </div>
  </div>
</div>