<div class="container mt-1">
  <div class="d-flex justify-content-between align-items-baseline">
    <h1 translate>items-list</h1>
    <span>
        {{ 'show-available' | translate}}: <input type="checkbox" [(ngModel)]="filterActive">
    </span>
  </div>
  <div class="row">
    <div class="col-6" *ngFor="let item of items$ | async | filterAvailable: filterActive">
      <div class="list-group-item d-flex justify-content-between" [class.disabled]="!item.available" [routerLink]="['/list', item.id]">
        <span>{{ item.name }}</span>
        <span>{{ item.price | currency : item.currency }}</span>
      </div>
    </div>
  </div>
</div>