<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <a class="navbar-brand" href="#">DevShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" [ngClass]="{active: link === selected}" *ngFor="let link of links">
        <a class="nav-link" (click)="select(link)">{{ link }}</a>
      </li>
    </ul>
    <span class="ml-auto mr-3">
      <dev-language-selector (languageChange)="onlanguageChange($event)"></dev-language-selector>
    </span>
  </div>
</nav>