<div class="container my-3">
  <div class="row border rounded">
    <div class="col text-center">
      <img class="card-img-top w-50" [src]="item.img" alt="Card image cap">
    </div>
    <div class="col pr-0">
      <div class="card">
        <div class="card-header">
          <h5 class="my-0 font-weight-normal">{{item.name | uppercase}}</h5>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{item.price | currency: item.currency}}</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>
              <div class="row">
                <div class="col">
                  {{item.description}}
                </div>
              </div>
            </li>
            <li *ngIf="!item.available">
              <h1 class="badge badge-warning">
                Item currently not available
              </h1>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-9">
              <button type="button" class="btn btn-block btn-info" (click)="addToCart()" [disabled]="itemIsInCart() || !item.available">Add
                to Cart</button>
            </div>
            <div class="col-3">
              <button type="button" class="btn btn-outline-secondary btn-md" (click)="removeFromCart()" [disabled]="!itemIsInCart()">
                🗑️
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>