<div class="container mt-1" *ngIf="items$ | async; let items">
  <h1 class="mb-3" translate>your-cart</h1>
  <ul class="list-group mb-3" *ngIf="items.length; else noItems">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items">
      <span class="btn btn-outline-danger" (click)="remove(item.id)">️️🗑️</span>
      <div>
        <h6 class="my-0">{{ item.name }}</h6>
      </div>
      <div>
        <span class="text-muted">{{ item.price | currency: item.currency }}</span>
      </div>
      <div>
        <div class="form-row">
          <div class="col-4 text-right">
            <button type="button" class="btn btn-info btn-sm" (click)="downQuantity(item.id)" [disabled]="item.quantity === 0">
              ➖
            </button>
          </div>
          <div class="col-4">
            <input name="quantity" class="form-control form-control-sm" type="number" placeholder="0" [(ngModel)]="item.quantity">
          </div>
          <div class="col-4 text-left">
            <button type="button" class="btn btn-info btn-sm" (click)="upQuantity(item.id)" [disabled]="item.stock === 0">➕
            </button>
          </div>
        </div>
      </div>
      <span class="text-muted">{{ item.price * item.quantity | currency: item.currency}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between bg-secondary">
      <span>Total</span>
      <strong>{{ getTotalAmount(items) | number}}</strong>
    </li>
  </ul>
</div>

<ng-template #noItems>
  <h1 class="text-center" translate>no-items</h1>
</ng-template>